################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/Action-wpf/v17
/Action-wpf/obj
/Action-wpf/.vs/Action-wpf/v17
/Action-wpf/.vs/Action-wpf
/Action-wpf/bin/Debug/net6.0-windows
