################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/Action-wpf/v17
/Action-wpf/obj
/Action-wpf/.vs/Action-wpf/v17
/Action-wpf/.vs/Action-wpf
/Action-wpf/bin/Debug/net6.0-windows
/CollectionChanged/bin/Debug/net5.0-windows
/CollectionChanged/obj
/CountDownEventDemo/bin/Debug/net5.0
/CountDownEventDemo/obj
/DragDropTest/bin/Debug/net5.0-windows
/DragDropTest/obj
/DrawShape/bin/Debug/net5.0-windows
/DrawShape/obj
/DXApplication1/DXApplication1/bin/Debug/net5.0-windows
/DXApplication1/DXApplication1/obj
/InputScope属性/bin/Debug/net5.0-windows
/InputScope属性/obj
/InterLockedTest/bin/Debug/net5.0
/InterLockedTest/obj
/Mutex_Test/bin/Debug
/Mutex_Test/obj
/ThreadsTest/bin/Debug/net5.0
/ThreadsTest/obj
/WPFComamnd/bin/Debug/net5.0-windows
/WPFComamnd/obj
/線程池等待超時/bin/Debug/net5.0
/線程池等待超時/obj
