# every day build once

name: Schedule Developer CI

# Controls when the workflow will run
on:
  
  # 定时执行, 每天国际时间 12 点, 北京时间 20 点
  #schedule:
  #  - cron: '0 7 30 * *'
  # Triggers the workflow on push or pull request events but only for the "main" branch
  #push:
  #  branches: [ "main" ]   
  #  paths-ignore: ["**/*.txt","**/*.md", "LICENSE", "**/*.xmind", "**/*.doc", "**/*.docx", "**/*.yml", "**/*.ymal"]
  
  workflow_dispatch:
   inputs:
      Version:
        description: '版本号，最后一个是修订次数'
        required: true
        default: '1.0.0.1'      

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:

    strategy:
      matrix:
        configuration: [Debug]

    # The type of runner that the job will run on
    runs-on: windows-latest
    # windows-latest 
    
    env:
      SolutionName: Action-wpf
      # 默认版本号, 如果检测远程服务器没有版本信息, 就使用默认的版本号
      DefaultVersion: 1.0.0,0      
      # 远程服务器根目录
      RemoteRootPath: c:/pub/    
      # 版本文件夹中最大文件夹数
      MaxFolders: 7
      # 远程脚本存放根目录
      RemoteScriptRoot: c:/script/       
     
      
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:      
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
        with:
            fetch-depth: 0
     
      # Install the .NET Core workload
      - name: Install .NET Core
        uses: actions/setup-dotnet@v2
        with:
            dotnet-version: 6.0.x

      # Add  MSBuild to the PATH: https://github.com/microsoft/setup-msbuild
      - name: Setup MSBuild.exe
        uses: microsoft/setup-msbuild@v1.0.2 

      - name:  Setup Node
        uses: actions/setup-node@v3
        with:
            node-version: 14
      
      # Restore the application to populate the obj folder with RuntimeIdentifiers
      - name: Restore the application
        run: msbuild $env:SolutionName /t:Restore /p:Configuration=$env:Configuration
        env:
          Configuration: ${{ matrix.configuration }}

      - name: Save Solution Name
        id: solution
        run: echo "::set-output name=name::${{env.SolutionName}}"

      - name: Save Remote Version Name
        id: RemoteVersionFileName
        run: echo "::set-output name=name::$([String]::Format("{0}-{1}.txt",'version', '${{env.SolutionName}}'))"
        
      - name: Save Remote Version File Path
        id: RemoteVersionFilePath
        run: echo "::set-output name=name::$([String]::Format("{0}/{1}", '${{env.RemoteRootPath}}','${{steps.RemoteVersionFileName.outputs.name}}'))"
     
      - name: Save Version File URL 
        id: VerisonURL
        run: echo "::set-output name=name::$([String]::Format("{0}/{1}", '${{secrets.VERSION_FILE_URL}}','${{steps.RemoteVersionFileName.outputs.name}}'))"

     # APP 更新地址
      - name: Save Update Url
        id: InstallUrl
        run: echo "::set-output name=url::$([String]::Format("${{secrets.APP_UPDATE_URL_ROOT}}/update/{0}/{1}/", '${{steps.solution.outputs.name}}', 'developer'))"
     
      # ssh 检测远程服务器上是否存在版本文件，不存在则创建 
      - name: Publish
        uses: garygrossgarten/github-action-ssh@release
        with:
          # create-verion-file: 参数：1.服务器版本文件路径（绝对路径）2. 项目发布的版本文件夹
          # 功能： 检测当前版本文件是否存在 && 检测之前发布是否有问题          
          command: powershell cd /;cd ${{env.RemoteScriptRoot}};python ./create-verion-file.py ${{steps.RemoteVersionFilePath.outputs.name}} ${{env.RemoteRootPath}}/version/${{steps.solution.outputs.name}}/developer
          host: ${{secrets.SSH_HOST}}
          port: ${{secrets.SSH_PORT}}
          username: ${{secrets.SSH_USER_NAME}}
          password : ${{secrets.SSH_USER_PWD}}
      
      # 获取远程版本文件
      - name: Get Remote Version File
        run: Invoke-WebRequest -Uri ${{steps.VerisonURL.outputs.name}} -OutFile ./version.txt
          
      - name: Read Remote Version File
        id: RemoteVersionFile
        run: echo "::set-output name=content::$(Get-Content ./version.txt)"          

      # 将正式的版本号写到新的文件中，然后再读取
      - name: Wrire File
        run: $env:DefaultVersion >> PrevVersion.txt

      - name: Wirte Remote Version
        if: ${{steps.RemoteVersionFile.outputs.content != null}}                  
        run: rm -r PrevVersion.txt;$(Get-Content ./version.txt) >> PrevVersion.txt

      - name: Read Version File
        id: PrevVersionFile
        run: echo "::set-output name=content::$(Get-Content ./PrevVersion.txt)"
        
      - name: Get Prev Version
        id: PrevVersion                         
        run: echo "::set-output name=main::$(({${{steps.PrevVersionFile.outputs.content}}} -split ',')[0])" 
             echo "::set-output name=revision::$(({${{steps.PrevVersionFile.outputs.content}}} -split ',')[1])"

      - name: Get Current Version
        id: CurrentVersion 
        run: echo "::set-output name=main::${{steps.PrevVersion.outputs.main}}" 
             echo "::set-output name=revision::$(${{steps.PrevVersion.outputs.revision}} + 1)" 
      
      - name: Get Version String
        id: VersionStr
        run: echo "::set-output name=version::$([String]::Format("{0}.{1}", '${{steps.CurrentVersion.outputs.main}}','${{steps.CurrentVersion.outputs.revision}}'))"

      - name: Get Display Folder
        id: folder
        run: echo "::set-output name=name::$([String]::Format("{0}-{1}", $(Get-Date -Format 'yyyyMMddHHmmss'),'${{steps.VersionStr.outputs.version}}'))"
      
      # 清空项目
      - name: Clean 
        run: msbuild $env:SolutionName /t:clean
     
      # 删除发布目录
      - name: Delete puc dir
        run: rm -r pub

      # 指定版本号，输出目录，更新地址
      - name: public ClickOnce
        run: msbuild $env:SolutionName /t:publish /p:PublishProfile=Properties/PublishProfiles/ClickOnceProfile.pubxml /p:PublishDir="../pub/" /p:ApplicationVersion=${{steps.VersionStr.outputs.version}} /p:InstallUrl=${{steps.InstallUrl.outputs.url}} /p:Configuration=Debug 
        
      #- uses: actions/upload-artifact@v3
      #  with:
      #      name: package
      #      path: pub/

      - name: deploy file to server version
        uses:  SamKirkland/FTP-Deploy-Action@4.3.0
        with:            
          server: ${{ secrets.FILE_SERVER_IP }}
          port: ${{ secrets.FILE_SERVER_PORT }}
          protocol: ftps
          username: ${{ secrets.FILE_SERVER_USER_NAME }}  
          password: ${{ secrets.FILE_SERVER_USER_PWD }} 
          local-dir: './pub/'
          # 发布到版本管理地址
          server-dir: './version/${{steps.solution.outputs.name}}/developer/${{steps.folder.outputs.name}}/'    
      
      
      # ssh 复制最新的版本文件到更新文件夹
      - name: Copy File
        uses: garygrossgarten/github-action-ssh@release
        with:
          # copy-res.bat： 复制最新版本的资源到更新目录 && 维持版本文件夹个数
          #  1: 项目的名字 2.发布的目录 3.最新发布的文件夹名 4.版本文夹最多文件个数
          command: powershell cd /;cd ${{env.RemoteScriptRoot}};.\copy-res.bat ${{steps.solution.outputs.name}} developer ${{steps.folder.outputs.name}} ${{env.MaxFolders}} ${{steps.RemoteVersionFilePath.outputs.name}}
          host: ${{secrets.SSH_HOST}}
          port: ${{secrets.SSH_PORT}}
          username: ${{secrets.SSH_USER_NAME}}
          password : ${{secrets.SSH_USER_PWD}}
          
      - name: notify build failure
        uses: tokorom/action-slack-incoming-webhook@main
        env:
             INCOMING_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        with:             
             text: "developer build v:${{steps.VersionStr.outputs.version}} failure, check actions log, url: ${{ github.event.repository.url }}/actions/runs/${{ github.run_id }}"             
        if: failure()
        
      - name: notify build success
        uses: tokorom/action-slack-incoming-webhook@main
        env:
             INCOMING_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        with:
             text: "developer build v:${{steps.VersionStr.outputs.version}} success" 
        if: success()
          
     